[rpc_credentials]
#Get rpc_user and rpc_pass from bitcoin.cfg
rpc_user = Username
rpc_pass = Password
rpc_host = 127.0.0.1
rpc_port = 8332
rpc_timeout = 240
#interval in seconds that the monitor will check for a new block
rpc_connect_interval = 60


[smtp_credentials]
#Username and Password used to log into your email providers smtp server
smtp_email = Username
smtp_password = Password
#This is different for each cell provider
sms_gateway = attphonenumber@txt.att.net
#Your email providers smtp server
smtp_server = smtp.office365.com
smtp_server_port = 587


[transactions]
#trans_0 = transaction id, output index, wallet descriptor
trans-1 = 0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68bebb44a74b1efd512098,0,Genesis Block
